@tailwind base;
@tailwind components;
@tailwind utilities;
 

.bgImage{
  background-image: url('/img-1.png');
}
  
.bgImage1{
  background-image: url('/img-2.png');
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.bg-map{
   background-image: url('/feature-bg.png');
   background-repeat: no-repeat;
   height: 100%;
   width: 100%; 
   background-size: cover; 
}
.bg-getapp{
   background-image: url('/pattern.png');
   background-repeat: no-repeat;
   height: 100%;
   width: 100%; 
   background-size: cover; 
}
.colored-icon {
  filter: invert(100%) brightness(100%);
}